@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels
@model RegisterViewModel

<h2></h2>Rgister a New User</h2>
<hr>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <h4>@Html.LabelFor(user => user.Email)</h4>
  @Html.TextBoxFor(user => user.Email, new { @class = "form-control" })

  <h4>@Html.LabelFor(user => user.Password)</h4>
  @Html.TextBoxFor(user => user.Password, new { @class = "form-control" })

  <h4>@Html.LabelFor(user => user.ConfirmPassword)</h4>
  @Html.TextBoxFor(user => user.ConfirmPassword, new { @class = "form-control" })
  <br>
  <input type="submit" value="Register" class="btn btn-light ButtonText"/>
}