@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Edit this Flavor: @Model.FlavorName</h2>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.FlavorId)

  <h4>@Html.Label("Flavor Name")</h4>
  @Html.EditorFor(m => m.FlavorName, new { htmlAttributes = new { @class = "form-control", @required = "required" }})

  <br>
  <h4>@Html.LabelFor(m => m.Calories)</h4>
  @Html.EditorFor(m => m.Calories, new { htmlAttributes = new { @class = "form-control" }})

  <br>
  <input type="submit" value="Save" class="btn btn-light ButtonText"/>
}

<br>
<p class= "btn btn-light">@Html.ActionLink("Back to Flavors", "Index", null, null, new { @class = "ButtonText" })</p>